body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: yellow;
    
}
nav {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}
nav a:hover {
    text-decoration: underline;
}
.golosinas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product {
    display: flex;
    width: 30%;
    margin-bottom: 20px;
}

.product img {
    display: flex;
    max-width: 100%;
    height: auto;
}